  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 30px;
    ;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float:none;
    padding: 10px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  body{
    background-size: cover;
  }
  .result_para_tag span{
    white-space: pre-line;
  }
  .copy_right_footer{
    position: fixed;
    color: rgb(204, 103, 123);
    background-color: rgb(195, 191, 223);
    bottom: 0;
    text-align: center;
    width: 100%;
    line-height: 3;
  }
#para{
    float: left;
  }
  

 